.background {
  viewport-fill: black;
}


.smalltext2     {
  font-size: 20;
  font-family: Seville-Regular;
  font-weight: regular;
  fill: white;
  text-anchor: start;
  text-length: 32;
}

#clickbg {
  fill: black;
  opacity: 0;
}

#timeformat {
  fill: black;
  opacity: 0
}

#page {
  fill: black;
}

#dateLabel {
  font-size: 22;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: end;
  x: 60%;
  y: 82%;
  fill: white;
}

#dateLabel1 {
  font-size: 22;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: end;
  x: 60%;
  y: 91%;
  fill: white;
}

#mysteps {
  font-size: 22;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: start;
  x: 26%;
  y: 17%;
  fill: white;
}

#distance {
  font-size: 22;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: start;
  x: 41%;
  y: 27%;
  fill: white;
}

#hrm {
  font-size: 30 ;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: end;
  x: 86%;
  y: 82%;
  fill: white;
}

#resting-heart {
  font-size: 22 ;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: end;
  x: 86%;
  y: 91%;
  fill: white;
}

#ele {
  font-size: 22;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: start;
  x: 68%;
  y: 17%;
  fill: white;
}

#act {
  font-size: 22;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: start;
  x: 83%;
  y: 27%;
  fill: white;
}

#cals {
  font-size: 22;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: start;
  x: 10%;
  y: 27%;
  fill: white;
}
#vtiny1 {
  font-size: 16;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: start;
  x: 87%;
  y: 82%;
  fill: white;
}

#vtiny2 {
  font-size: 16;
  font-family: Seville-Regular;
  text-length: 32;
  text-anchor: start;
  x: 87%;
  y: 91%;
  fill: white;
}

